# Python相关
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
ENV/

# 项目特定文件和目录
jsonlist/
Myplaylist/
*.log

# Windows相关
Thumbs.db
ehthumbs.db
Desktop.ini 